@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css?family=Manrope&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inter&display=swap");



* {
  box-sizing: border-box;
}

html {
  font-family: 'Inter';
}

body {
  margin: 0;
  background-color: #3f3f3f;
}
#root{
  overflow:hidden;
}

.css-b62m3t-container{
width:100%
}